[submodule "tello-gesture-control"]
	path = tello-gesture-control
	url = https://github.com/kinivi/tello-gesture-control
[submodule "DJITelloPy"]
	path = DJITelloPy
	url = https://github.com/damiafuentes/DJITelloPy
